@import url("https://fonts.googleapis.com/css?family=Righteous:300,400,500,600,700|PT Mono:300,400,500");

body {
  background-color: #f4e5acd3;
}

/*NavBar*/

.nav-wrapper {
  background-color: #f59e13;
}

.material-icons {
  color: black;
}

.brand-logo {
  font-family: "Righteous", sans-serif;
  margin-left: 15px;
}

nav ul a {
  color: black;
  font-family: "PT Mono", sans-serif;
}

.dropdown-content li > a {
  color: black;
}

/* home page*/
.header {
  font-family: "Righteous", sans-serif;
  text-align: center;
  font-weight: 800;
  color: white;
}

.bg-image-landing {
  margin-top: 10px;
  background-image: url("../images/veg-display.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

/*Add recipe Page*/

.container-add-recipe {
  height: auto;
  width: 900px;
  border-style: ridge;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9ce7c;
}

.header-add-recipe {
  font-family: "Righteous", sans-serif;
  text-align: center;
  font-weight: 800;
  color: black;
}

.btn-add-recipe {
  margin-left: 30px;
  height: 40px;
  border-radius: 8px;
  background-color: #20cd04;
}

/* Recipe card. might need to rethink layout? use flex? */
.card-recipe {
  margin-left: 15em;
  line-height: auto;
}

.card-content,
.card-title {
  font-family: "Righteous", sans-serif;
}

/*Footer*/
.page-footer {
  display: flex;
  background-color: #f59e13;
  height: 100px;
  flex-direction: column;
  width: 100%;
  max-width: none;
  bottom: 0;
  text-align: center;
}
copyright-box {
  padding: 2 0.75em;
}

a.logo-footer {
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.logo-footer:hover {
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.fab {
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  padding: 10px 0;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #8f8a8c;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.fab:hover {
  text-decoration: none;
  background-color: #d1cece;
}
