{% extends 'base.html' %} {% block content %}
<!--Form to add recipe to the DB-->
<div class="container add-recipe">
	<div class="row">
		<div class="col s12">
			<h3 class="header-add-recipe">{{ page_title }}</h3>
		</div>

		<div class="row">
			<div class="col s12 m8">
				<form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12" name="addRecipe"
					id="addRecipe">
					<!--Meal Category-->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-list-alt prefix"></i>
							<select
                id="category_name"
                name="category_name"
                class="validate"
                required
              >
                <option value="" disabled selected
                  >Choose type of meal</option
                >
                <!--Provide categories from DB-->
                {% for category in categories %}
                <option value="{{ category.category_name }}"
                  >{{category.category_name}}</option
                >
                {% endfor %}
              </select>
							<label>Category</label>
						</div>
					</div>
					<!--Recipe name-->
					<div class="row">
						<div class="input-field col s12">
							<i class="far fa-file-alt prefix"></i>
							<input
                name="recipe_name"
                id="recipe_name"
                type="text"
                class="validate"
                value="{{recipe_name}}"
                data-validation-required-message="Please enter a recipe name."
                placeholder="e.g. Boeuf Bourguignon"
                maxlength="100"
                required
              />
							<label>Recipe Name</label>
						</div>
					</div>
					<!--Recipe difficulty-->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-unlock prefix"></i>
							<input
                name="difficulty_name"
                id="difficulty_name"
                type="text"
                class="validate"
              />
							<label>Difficulty</label>
						</div>
					</div>

					<!--Serving-->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-user-friends prefix"></i>
							<input
                id="serve_name"
                name="serve_name"
                type="number"
                class="validate"
              />
							<label>Serving</label>
						</div>
					</div>
					<!--Recipe Ingredients-->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-shopping-basket prefix"></i>
							<textarea
                id="ingredients_name"
                name="ingredients_name"
                placeholder="Enter ingredients on a new line"
                style= "height:60px"
                class="materialize-textarea"
                data-validation-required-message="Please enter the ingredients"
                rows="10"
                maxlength="5000"
                required
              ></textarea>
							<label>Ingredient</label>
						</div>
					</div>
					<!--Instructions-->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-utensil-spoon prefix"></i>
							<textarea
                id="instructions_name"
                name="instructions_name"
                placeholder="Put each steps on a new line"
                class="materialize-textarea"
                required
                data-validation-required-message="Please enter the cooking instructions"
                rows="10"
                maxlength="5000"
              ></textarea>
							<label>Method</label>
						</div>
					</div>
					<div class="input-field col s12">
						<i class="fas fa-utensils prefix"></i>
						<select  multiple id="equipment_name"
                name="equipment_name" class="validate icons" required>
              <option value="" disabled selected>Select Equipment</option>
               {% for equipment in equipments %}              
               <option value="{{ equipment.equipment_name }}" data-icon="{{equipment.image_link}}"
               >{{equipment.equipment_name}}</option>
               {% endfor %}
            </select>
						<label>Equipments</label>
					</div>

					<!--Images-->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-camera-retro prefix"></i>
							<input
                id="image_link"
                name="image_link"
                type="url"
                placeholder="Insert your URL here"
                class="validate"
                required
              />
							<label>Image</label>
						</div>
					</div>

					<div class="row">
						<button
              class="btn-add-recipe waves-effect waves-light"
              type="submit"
              name="action"
            >
              Add Recipe
            </button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}