<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Family Recipes</title>
  </head>
  <header>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Mains</a></li>
      <li><a href="#!">Starters</a></li>
      <li><a href="#!">Desserts</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('home')}}" class="brand-logo black-text"
          >Home Cooking</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{url_for('add_recipes')}}">Add Recipe</a></li>
          <li><a href="">Equipment</a></li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1"
              >Browse<i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
          <li><a href="">Sign in</a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="">Add Recipe</a></li>
          <li><a href="">Equipment</a></li>
          <li><a href="">Sign in</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    
          {% block content %} {% endblock %}
       
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Javascript taking fom Materialize to implement Navbar-->
    <script type="text/javascript">
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $(".dropdown-trigger").dropdown();
      });
    </script>
  </body>
</html>
