{% extends 'base.html' %} {% block content %} {% for equipment in equipments %}
<div class="container equipment-container hoverable">
  <div class="row">
    <div class="equipment-box col s12 m6">
      <a href="{{url_for('recipes_by_equipment', equipment_name=equipment.equipment_name)}}"><h5>{{ equipment.equipment_name }}</h5></a>
      <div class="card-image">
        <img
          id="equipment-image"
          src="{{equipment.image_link}}"
          alt="Equipment's image"
          width="100"
        />
        <div class="card-content">
          <p class="equipment-description">{{ equipment.equipment_description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}{% endblock %}