{% extends 'base.html' %} {% block content %} {% for equipment in equipments %}
<div class="container equipment-container hoverable">
  <div class="row">
    <div class="col s12 m6">
      <a href="{{url_for('recipes_by_equipment', equipment_name=equipment.equipment_name)}}"><p><span class="equip-name">{{ equipment.equipment_name }}<br></span>See recipe using this equipment</p></a>
      <div class="card-image">
        <img
          src="{{equipment.image_link}}"
          alt="Equipment's image"
          width="100"
        />
        <div class="card-content">
          <p>{{ equipment.equipment_description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}{% endblock %}
