{% extends 'base.html' %} {% block content %} {% for recipe in recipes %}
<div class="row">
  <div class="col s12 m6">
    <div class="card medium card-recipe">
      <div class="card-image white-text">
        <img class="activator" src="{{recipe.image_link}}" />
      </div>

      <div class="card-content">
        <span class="card-title activator text-darken-4"
          >{{ recipe.recipe_name }}<i class="material-icons right"
            >more_vert</i
          ></span
        >
        <p>Category: {{recipe.category_name}}</p>
        <p>Diffilculty: {{ recipe.difficulty_name }}</p>
        <p>Review: {{ recipe.review_name }}</p>
        <p>Serve: {{ recipe.serve_name }}</p>
      </div>

      <div class="card-reveal">
        <span class="card-title text-darken-4"
          >Ingredients<i class="material-icons right">close</i></span
        >
        <ul>
        <li>{{ recipe.ingredients_name[0] }}</li>
        <li>{{ recipe.ingredients_name[1] }}</li>
        <li>{{ recipe.ingredients_name[2] }}</li>
        </ul>
        <span class="card-title text-darken-4">Instructions</span>
        <p>
        <ul>
        <li>{{ recipe.instructions_name[1]}}</li>
        <li>{{ recipe.instructions_name[1]}}</li>
        <li>{{ recipe.instructions_name[2]}}</li>
        </ul>
          <a href="{{url_for('equipments_list')}}">Equipments Required</a>
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
