{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col s12">
    <h3 class="header-add-recipe">{{ page_title }}</h3>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card medium card-recipe hoverable">
      <div class="card-image white-text">
        <img class="activator" src="{{recipes.image_link}}" />
      </div>

      <div class="card-content">
        <span class="card-title activator text-darken-4"
          >{{ recipes.recipe_name }}<i class="material-icons right"
            >more_vert</i
          ></span
        >
        <p>Category: {{ recipes.category_name }}</p>
        <p>Diffilculty: {{ recipes.difficulty_name }}</p>
        <p>Review: {{ recipes.review_name }}</p>
        <p>Serve: {{ recipes.serve_name }}</p>
      </div>

      <div class="card-reveal">
        <span class="card-title text-darken-4"
          >Ingredients<i class="material-icons right">close</i></span
        >
        <ul>
          <li>{{ recipes.ingredients_name[0] }}</li>
          <li>{{ recipes.ingredients_name[1] }}</li>
          <li>{{ recipes.ingredients_name[2] }}</li>
        </ul>

        <span class="card-title text-darken-4">Instructions</span>
        <ul>
          <li>{{ recipes.instructions_name[0] }}</li>
          <li>{{ recipes.instructions_name[1] }}</li>
          <li>{{ recipes.instructions_name[2] }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
